.header{
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    min-height: 50px;
    padding: 20px 0;
}
.header.shadow{
    box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.9);
}
.contant{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo__parent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .4rem;
}
.logo__parent .logo{
    width: 40%;
}
.logo__parent .logo__tittle{
   font-weight: 700;
   font-size: 18px;
   color: #282245;
}
.nav__parent a{
    color: #282245;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
    padding: 0px 20px;
    font-size: 18px;
    transition: .4s ease all;
}
.nav__parent a:hover{
    color: #e95020;
    text-decoration: none;
}
.active__menu{
    color: #e95020 !important;
}
.nav__parent .close{
    color: #f03800;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.right__nav{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.parent__icons{
    position: relative;
}
.parent__icons .number{
    position: absolute;
   width: 16px;
   height: 16px;
    background-color: #e95020;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    top: -10px;
    right: -10px;
}
.parent__icons .icons{
    color: #282245;
    font-size: 20px;
    cursor: pointer;
}
.right__nav .link__user{
    color: #282245;
    text-decoration: none;
    font-size: 20px;
}
.right__nav .menue{
    color: #282245;
    font-size: 20px;
    cursor: pointer;
    margin-top: 5px;
    display: none;
}
@media (max-width:990px) {
    .nav__parent{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: -300%;
        bottom: 0;
        background: rgba(0, 0, 0, 0.425);
        transition: .4s ease all;
    }
    .nav__parent.menu__block{
       left: 0;
    }
    .nav__parent .nav__item{
        background-color: #fff;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
        height: 100vh;
        position: relative !important;
    }
    .nav__parent .close{
        position: absolute;
        display: block;
        top: 25px !important;
        right: 20px !important;
    }
    .right__nav .menue{
        display: block;
    }
}
@media (max-width:500px){
    .header{
        height: 94px;
    }
    .logo__parent .logo{
        width: 30%;
    }
    .logo__parent .logo__tittle{
        font-weight: 500;
        font-size: 15px;
    }
    .nav__parent .nav__item{
        background-color: #fff;
        width: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
        height: 100vh;
        position: relative !important;
    }
}