.hero{
    min-height: 100vh;
    width: 100%;
    padding-top: 150px;
    overflow: hidden;
}
.hero__img{
    width: 500px;
    animation: move 2s infinite alternate;
}
.parent__text h4{
    color: #212529;
    font-weight: 600;
}
.parent__text h1{
   font-size: 45px;
   color: #282245;
   font-weight: 700;
}
.parent__text h1 span{
    color: #e95020;
}
.parent__text p{
    color: #777777;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 16px;
}
.parent__text .parent__btn{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
}
.parent__btn button{
    outline: none;
    border: none;
    text-transform: capitalize;
}
.parent__btn .btn__order{
    margin-right: 50px;
    padding: 6px 25px;
    color: #fff;
    font-weight: 600;
    background-color: #df2020;
    border-radius: 5px;
    font-size: 18px;
    transition: .3s ease all;
}
.parent__btn .btn__order:hover{
    background-color: #282245;
}
.parent__btn .btn__allfoods{
    border: #df2020 solid 1px;
    padding: 8.5px 20px;
    border-radius: 5px;
    font-size: 16px;
    color: #df2020;
    background: transparent;
    font-weight: 700;
}
.parent__btn .btn__allfoods .link__foods{
    color: #df2020;
    text-decoration: none;
}
.parent__icons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.parent__icons p{
    color: #212250;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: .6rem;
}
.parent__icons p span{
    height: 24px;
    width: 24px;
    border-radius:50% ;
    background-color: #df2020;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:600px) {
    .hero{
        padding-top: 140px;
    }
    .hero__img{
        width: 350px;
    }
    .parent__text h4{
        color: #212529;
        font-weight: 500;
        font-size: 25px;
    }
    .parent__text h1{
        font-size: 35px;
        color: #282245;
        font-weight: 600;
     }
     .parent__btn .btn__order{
        margin-right: 30px;
        padding: 6px 18px;
        color: #fff;
        font-weight: 600;
        background-color: #df2020;
        border-radius: 5px;
        font-size: 15px;
        transition: .3s ease all;
    }
    .parent__btn .btn__allfoods{
        border: #df2020 solid 1px;
        padding: 8px 15px;
        border-radius: 5px;
        font-size: 16px;
        color: #df2020;
        background: transparent;
        font-weight: 500;
    }
    .parent__icons p{
        color: #212250;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: .6rem;
        font-size: 14px;
        text-align: center;
    }
    .parent__icons p span{
        height: 20px;
        width: 20px;
        border-radius:50% ;
        background-color: #df2020;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
    }
}
@media (max-width:405px){
    .hero__img{
        width: 300px;
    }
    .parent__btn{
        text-align: center;
    }
    .parent__icons p{
        gap: 0;
    }
    .parent__icons p span{
        margin-right: 5px !important;
    }
}